#add-success-alert,
#delete-success-alert {
    display: none;
}

#add-success-alert,
#delete-success-alert {
    animation-name: fadeInAndOut;
    animation-duration: 4s;
}

@-webkit-keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.containerTag {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: rgba(73, 73, 73, 0.377);
    min-height: 800px;
    height: auto;
}

.tableTag {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.btnTag {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 300px;
}